<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <!--<add key="CallingApplicationEntity" value="test"/>
    <add key="CalledApplicationEntity" value="test"/>
    <add key="RemoteAddress" value="213.165.94.158"/>
    <add key="RemotePort" value="11112"/>
    <add key="LocalAddress" value="127.0.0.1"/>
    <add key="LocalPort" value="104"/>-->
    <add key="CallingApplicationEntity" value="TAUCO" />
    <add key="DestinationApplicationEntity" value="TAUCO" />
    <add key="CalledApplicationEntity" value="ORTHANC" />
    <add key="RemoteAddress" value="127.0.0.1" />
    <add key="RemotePort" value="4242" />
    <add key="LocalAddress" value="127.0.0.1" />
    <add key="LocalPort" value="104" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
